@model ProductCreateViewModel

<!--Nombre-->
<div class="mb-3">
	<label asp-for="Name" class="form-label"></label>
	<input asp-for="Name" class="form-control" />
	<span asp-validation-for="Name" class="text-danger"></span>
</div>
<!--Precio-->
<div class="mb-3">
	<label asp-for="Price" class="form-label"></label>
	<input asp-for="Price" type="number" min="0" class="form-control" />
	<span asp-validation-for="Price" class="text-danger"></span>
</div>
<!--Descripción-->
<div class="mb-3">
	<label asp-for="Description" class="form-label"></label>
	<textarea asp-for="Description" class="form-control"></textarea>
</div>